body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkgreen;
}

.map{
    position:relative;
    width: 400px;
    height: 400px;
}

.row{
    display: flex;
    width: 100%;
    height: 33.33%;
    border: 4px solid rgb(131, 8, 8);
    margin-top: -3px;
   }

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;
    border: 4px solid rgb(131, 8, 8);
    transition: 0.5s;
    cursor: pointer;
}
.cell:hover{
    background-color: rgba(13, 15, 158, 0.6);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.x,
.o{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
}

.icon-x{
    width: 30px;
    height: 30px;
    background: url("Крестик.png") center / cover
}

.icon-o{
    width: 30px;
    height: 30px;
    background: url("Нолик.png") center / cover
}

.cell.icon-o,.cell.icon-x{
    width: 33.33%;
    height: 100%;
    background-size: 100px 100px;
    background-repeat: no-repeat;

}

.score{
    color: rgb(131, 8, 8);
    margin: 0 20px; 
    font-size: 25px;
    font-family:fantasy;
}

.turn{
    width: 10px;
    height: 10px;
    background-color: rgb(131, 8, 8);
    border-radius: 50%
}